.four_steps--container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.four_steps--headline_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.four_steps--headline {
  font-size: 3em;
  margin-bottom: 30px;
}
.four_steps--decorator {
}

.four_steps--steps {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 50px 0;
}
@media (max-width: 950px) {
  .four_steps--steps {
    flex-direction: column;
  }
}

.four_steps--step {
  max-width: 100px;
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
}
@media (max-width: 950px) {
  .four_steps--step {
    margin: 20px 0;
  }
}

.four_steps--step img {
  margin-bottom: 10px;
  width: 6em;
}
@media (max-width: 950px) {
  .four_steps--step img {
    width: 8em;
  }
}
.four_steps--step h1 {
  font-size: 1.3em;
  margin-bottom: 5px;
}
@media (max-width: 950px) {
  .four_steps--step h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 8px;
  }
}

.four_steps--step div {
  width: 50px;
  height: 1px;
  background-color: black;
  margin-bottom: 10px;
}
@media (max-width: 950px) {
  .four_steps--step div {
    width: 80px;
  }
}
.four_steps--step p {
  text-align: center;
}
@media (max-width: 950px) {
  .four_steps--step p {
    width: 120px;
    font-size: 1.3em;
    font-weight: 500;
  }
}
.four_steps--button_container {
  margin: 70px;
}
.four_steps--button {
  @include header-button;
}
