.header_container {
  display: flex;
}

.header_el {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}
.header_el--image {
  background-image: url(../../assets/Home-Hero-Image.jpg);
  background-position: right;
  background-size: cover;
}
@media only (max-width: 1025px) {
  .header_el--image {
    display: none;
  }
  .header_el--heading {
    width: 100%;
  }
}

.header_center--section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center_section--elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center_section--headline {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 42px;
}
@media (max-width: 550px) {
  .center_section--headline {
    font-size: 1.5rem;
  }
}
.header-buttons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
@media (max-width: 550px) {
  .header-buttons__container {
    flex-direction: column;
  }
}
.header-button {
  @include header-button;
}
@media (max-width: 550px) {
  .header-button {
    font-size: 1.5em;
  }
}
