.logout_container {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logout_container h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.logout_decorator {
  width: 160px;
}
.logout_form--button {
  @include header-button;
  font-size: 1.5em;
}
