.home_nav {
  margin: 20px 20px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (max-width: 850px) {
  margin: 20px 0 0 0;
}
.home_nav--container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.registration {
  margin: 10px;
}
.registration_button {
  text-decoration: none;
  margin: 20px 10px;
  padding: 10px 10px;
  font-size: 1rem;
  color: $second-background-color;
  border: 1px solid white;
}
.registration_button:hover {
  border: 1px solid $main-accent-color;
}

.sections_links {
  margin: 20px 10px;
}

.sections_links--button {
  text-decoration: none;
  margin: 20px 15px;
  padding: 10px 10px;
  font-size: 1.3rem;
  color: $main-text-color;
  border: 1px solid white;
}
.sections_links--button:hover {
  border: 1px solid $main-text-color;
}

// MOBILE NAVIGATION

.mobile_navigation {
  display: none;
}

@media (max-width: 645px) {
  .mobile_navigation {
    display: flex;
  }
  .sections_links {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    top: 90px;
    border-radius: 5px;
    background-color: $second-background-color;
  }
  .sections_links--button {
    align-self: flex-end;
    color: white;
    border: 1px solid $second-background-color;
  }
  .normal_navigation {
    display: none;
  }
  .hamburger {
    height: 60px;
    width: 40px;
    position: absolute;
    right: 45px;
    cursor: pointer;
  }
} ;
