.organizations_section {
  // width: 100vw;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.organizations_section--heading {
  font-size: 2.3em;
  margin-bottom: 20px;
}

.organizations_section--decorator {
  width: 180px;
}

.tabs_container {
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tab_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.tab_list--el {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  min-height: 40px;
  font-size: 1.4em;
  line-height: 25px;
  margin: 0 20px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid white;
}
.react-tabs__tab--selected {
  border-radius: 0;
}
.tab_list--el:hover {
  border: 1px solid black;
  border-radius: 0;
}

.tab_description {
  font-size: 1.3em;
  max-width: 600px;
}

.tab_panell--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
