.pagination_container {
  margin-top: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.help_unit {
  min-width: 825px;
  width: 100%;
  margin: 10px 0;
  padding: 20px 0;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $second-background-color;
}
@media (max-width: 1080px) {
  .help_unit {
    min-width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.help_unit--name {
  font-size: 1.3em;
  margin-bottom: 5px;
}
@media (max-width: 1080px) {
  .help_unit--name {
    text-align: center;
  }
}

.help_unit--description {
  font-style: italic;
}
@media (max-width: 1080px) {
  .help_unit--description {
    margin: 15px 0;
  }
}
.help_unit--stuff {
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-item {
  margin: 10px;
}
.page-link {
  padding: 3px 5px;
  font-size: 1.2em;
  text-decoration: none;
  color: $second-background-color;
  border: 1px solid white;
}
.page-link:hover {
  border: 1px solid $second-background-color;
}
