.pagination_container {
  margin-top: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.help_unit {
  min-width: 825px;
  width: 100%;
  margin: 10px 0;
  padding: 20px 0;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $second-background-color;
}
.help_unit--name {
  font-size: 1.3em;
  margin-bottom: 5px;
}
.help_unit--description {
  font-style: italic;
}
.help_unit--stuff {
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-item {
  margin: 10px;
}
